/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .new-area:before,.new-area:after { 
        width: 65px;
        height: 55%; 
    }
    .new-item .new-wrps {
        width: 40%;
        padding-left: 45px;
    }
    .Staff-area .all-students { 
        width: 100%;
    }
    .escedual {
        min-width: 260px !IMPORTANT;
    }
    .eicons .evblks {
        width: 75px; 
    }
    .pb-wrps-right {
        display: flex;
        flex-wrap: wrap;
    }
    .pb-wrps-left { 
        width: 60%;
        padding-right: 30px;
    }
    ul.lastlist { 
        margin-top: 25px;
    }
    .resurse-slider .owl-prev { 
        left: -25px; 
    }
    .resurse-slider .owl-next { 
        right: -25px; 
    }
    .user-slider { 
        max-width: 550px; 
    }
    .assins-list .right-selects ul li {
        margin-left: 8px;
    }
    .datas:first-child {
        width: 140px;
    }
    .datas:nth-child(2) {
        width: 130px;
    }
    .datas:nth-child(3) {
        width: 290px;
    }

    .flter { 
        flex-wrap: wrap;
    }
    .down-menu li { 
        margin-right: 20px;
    }










}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) { 
    .new-area:before,.new-area:after { 
        width: 65px;
        height: 55%; 
    }
    .new-item .new-wrps {
        width: 40%;
        padding-left: 45px;
    }
    .Staff-area .all-students { 
        width: 100%;
    }
    .logo-area h1 { 
        font-size: 25px;
        padding-left: 15px; 
    }
    ul.header-social li { 
        margin-left: 5px;
    }
    ul.header-social li a, .menu-area nav ul li a {
        font-size: 15px;  
    }
    .down-menu li { 
        margin-right: 10px;
    } 
    .down-menu li a.icon img {
        width: 28px;
    } 
    .down-menu li a.icon a.icon {
        padding-right: 0;
    }
    .down-menu li a { 
        font-size: 14px;
    }
    .loggedin p { 
        font-size: 14px;
    }
    ul#myTab li.nav-item button { 
        padding: 5px 22px; 
    }
    .section-title h2 {
        font-size: 26px;
        margin-bottom: 0;
    }
    body{
        font: 15px;
    }
    a.theme-btn {
        padding: 6px 16px; 
        font-size: 14px;
    } 
    .ico-blk i {
        margin-right: 3px;
    }
    .ico-blk {
        padding: 5px 10px; 
        font-size: 14px;
    } 
    .quick-blk img {
        max-height: 100px; 
        margin-bottom: 10px;
    }
    .all-quick-blk .quick-blk { 
        padding: 0 10px;
    }
    .plans-title h4 { 
        font-size: 16px;
        margin-bottom: 12px;
    }
    .new-item .new-wrps h1 { 
        font-size: 32px;
    } 
    .tutorial-area h2 {
        font-size: 22px;  
    }
    .t-single-tblk {
        width: 45%; 
    }
    .st-blk img { 
        width: 65px;
        height: 65px; 
    }
    .st-blk { 
        margin-top: 20px;
    }
    .add {
        width: 70px;
        height: 70px;
        border-radius: 50%; 
        font-size: 36px; 
        right: -25px; 
    }
    .add::after { 
        width: 88px; 
        font-size: 18px; 
        line-height: 22px; 
    }
    .add:after { 
        right: -95px; 
    }
    .Staff-area .all-students .add:after {
        content: "Add New Teacher";
        right: auto;
        left: -100px;
    }
    .total-blk ul li span {
        width: 70px;
        height: 70px; 
        font-size: 20px; 
        margin-top: 7px;
    }
    .total-blk ul li { 
        width: 31%;
        font-size: 14px;
    }
    .footer-widget h4 {
        font-size: 18px; 
        margin-bottom: 10px;
    }
    .event-wrp{
        flex-wrap: wrap;
    }
    .eimg-wrps { 
        width: 100%;
    }
    .eicons { 
        margin-top: 30px;
    } 
    .pb-wrps-right {
        display: flex;
        flex-wrap: wrap;
    }
    .pb-wrps-left { 
        width: 80%;
        padding-right: 30px;
    }
    ul.lastlist { 
        margin-top: 25px;
    }
    .filter-selections .nice-select {
        width: 17%; 
    }
    .resurse-slider .owl-prev { 
        left: -25px; 
    }
    .resurse-slider .owl-next { 
        right: -25px; 
    }
    .right-selects ul li {
        width: 85px;
    }

    .user-slider { 
        max-width: 550px; 
    }
    .assins-list .right-selects ul li {
        margin-left: 8px;
    }
    .allclsosdata { 
        width: 1220px;
    } 
    .flter { 
        flex-wrap: wrap;
    }
    ul.filtering { 
        flex-wrap: wrap;
    }





}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    body{
        font-size: 15px;
        padding-top: 125px;
    }
    .new-area:before,.new-area:after { 
        width: 65px;
        height: 55%; 
    }
    .new-item .new-wrps {
        width: 40%;
        padding-left: 45px;
    }
    .Staff-area .all-students { 
        width: 100%;
    }
    .logo-area h1 { 
        font-size: 25px;
        padding-left: 15px; 
    }
    ul.header-social li { 
        margin-left: 5px;
    }
    ul.header-social li a, .menu-area nav ul li a {
        font-size: 15px;  
    }
    .down-menu li { 
        margin-right: 10px;
    } 
    .down-menu li a.icon img {
        width: 28px;
    } 
    .down-menu li a.icon a.icon {
        padding-right: 0;
    }
    .down-menu li a { 
        font-size: 14px;
    }
    .loggedin p { 
        font-size: 14px;
    }
    ul#myTab li.nav-item button { 
        padding: 5px 22px; 
    }
    .section-title h2 {
        font-size: 26px;
        margin-bottom: 0;
    }
    body{
        font: 15px;
    }
    a.theme-btn {
        padding: 6px 16px; 
        font-size: 14px;
    } 
    .ico-blk i {
        margin-right: 3px;
    }
    .ico-blk {
        padding: 5px 10px; 
        font-size: 14px;
    } 
    .quick-blk img {
        max-height: 100px; 
        margin-bottom: 10px;
    }
    .all-quick-blk .quick-blk { 
        padding: 0 10px;
        width: 33%;
    }
    .plans-title h4 { 
        font-size: 16px;
        margin-bottom: 12px;
    }
    .new-item .new-wrps h1 { 
        font-size: 22px;
    } 
    .tutorial-area h2 {
        font-size: 22px;  
    }
    .t-single-tblk {
        width: 45%; 
    }
    .st-blk img { 
        width: 65px;
        height: 65px; 
    }
    .st-blk { 
        margin-top: 20px;
    }
    .add {
        width: 70px;
        height: 70px;
        border-radius: 50%; 
        font-size: 36px; 
        right: -25px; 
    }
    .add::after { 
        width: 88px; 
        font-size: 18px; 
        line-height: 22px; 
    }
    .add:after { 
        right: -95px; 
    }
    .Staff-area .all-students .add:after {
        content: "Add New Teacher";
        right: auto;
        left: -100px;
    }
    .total-blk ul li span {
        width: 70px;
        height: 70px; 
        font-size: 20px; 
        margin: auto;
        margin-top: 7px;
    }
    .total-blk ul li { 
        width: 31%;
        font-size: 14px;
    }
    .footer-widget h4 {
        font-size: 18px; 
        margin-bottom: 10px;
    }
    .all-students img.backgr { 
        height: 100%; 
    }
    .all-students { 
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .Students-area {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .total-count-area .total-blk {
        margin-top: 20px;
    }
    .total-count-area {
        padding: 40px 0;
        padding-top: 20px;
    }
    .t-right {
        padding-left: 0px;
        margin-top: 40px;
    }
    .required-list ul {
        display: flex;
        flex-wrap: wrap;
    }
    .required-list ul li{
        width: 50%;
    }
    .tutorial-area {
        padding: 40px 0;
    }
    .owl-nav { 
        top: -90px; 
    }

    .header-area {
        padding: 20px 0;
    }
    .event-wrp{
        flex-wrap: wrap;
    }
    .eimg-wrps { 
        max-width: 390px;
    }
    .eicons { 
        margin-top: 30px;
    }


  
    .pb-wrps-left {
        width: 100%;
        padding-right: 0px;
    }
    ul.lastlist { 
        margin-top: 25px;
    }
    .filter-selections .nice-select {
        width: 17%; 
    }
    .p-block { 
        flex-wrap: wrap; 
    }
    ul.lastlist li { 
        width: 95px; 
    }
    .right-cals a { 
        padding: 13px 8px; 
        margin-left: 5px; 
    }
    .mid-date ul li span { 
        line-height: 28px;
        margin: 0 15px;
        font-size: 20px;
    }
    .mid-date ul {
        justify-content: flex-end;
    }
    .filter-selections .nice-select {
        width: 15%;
        font-size: 12px;
        padding-left: 5px;
    }

    .resurse-slider .owl-prev { 
        left: -25px; 
    }
    .resurse-slider .owl-next { 
        right: -25px; 
    }
    ul.filtering { 
        justify-content: left;
        flex-wrap: wrap;
        margin-bottom: 30px;
    } 
    form.sendForm {
        max-width: 290px;
        float: none;
        margin: auto;
        margin-top: 50px;
    } 
    .flter {
        display: block; 
        margin-top: 20px;
    }

    .assins-list { 
        flex-wrap: wrap;
    }
    .right-selects {
        display: block;
        margin-left: auto;
        margin-top: 20px;
    } 
    .allclsosdata { 
        width: 1220px;
    }  
    .flter { 
        flex-wrap: wrap;
    }
    .report-details-area .section-title {
        margin-top: 0;
    } 
    .assimg { 
        width: 45%;
    }
    .assimg img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .asswrp h3 {
        font-size: 19px;
        margin-bottom: 10px;
    }
    .block-title .section-title {
        width: 70%;
    }
    .tmns a.theme-btn {
        max-width: 250px; 
        margin-left: 50px;
    }






}

 
/* small screen :320px. */
@media (max-width: 767px) {
    body{
        font-size: 14px;
        padding-top: 100px;
    }
    #calendar { 
        width: 500px;
    }
    #calendar table{
        width: 100%;
    }
    .tab-pane {
        overflow: auto;
    }
    .selections .nice-select {
        float: none; 
    }
    .fc-header-title h2 { 
        font-size: 20px; 
    }
    .new-area:before,.new-area:after { 
        width: 20px;
        height: 35%; 
    }
    .new-item{
        flex-wrap: wrap;
    }
    .new-item img {
        width: 100% !important;
        object-fit: cover;
        margin-top: 25px;
    }
    .new-item .new-wrps {
        width: 100%;
        padding-left: 0; 
    }
    .Staff-area .all-students { 
        width: 100%;
        padding-left: 30px;
    }
    .logo-area h1 {
        font-size: 17px;
        padding-left: 10px;
    }
    ul.header-social li { 
        margin-left: 5px;
    }
    ul.header-social li a, .menu-area nav ul li a {
        font-size: 15px;  
    }
    .down-menu li { 
        margin-right: 10px;
    } 
    .down-menu li a.icon img {
        width: 28px;
    } 
    .down-menu li a.icon a.icon {
        padding-right: 0;
    }
    .down-menu li a { 
        font-size: 14px;
    }
    .loggedin p { 
        font-size: 14px;
    }
    ul#myTab li.nav-item button { 
        padding: 5px 22px; 
    }
    .section-title h2 {
        font-size: 26px;
        margin-bottom: 0;
    }
    body{
        font: 15px;
    }
    a.theme-btn {
        padding: 6px 16px; 
        font-size: 14px;
    } 
    .ico-blk i {
        margin-right: 3px;
    }
    .ico-blk {
        padding: 5px 10px; 
        font-size: 14px;
    } 
    .quick-blk img {
        max-height: 70px;
        margin-bottom: 5px;
    }
    .all-quick-blk .quick-blk { 
        padding: 0 10px;
        width: 50%;
    }
    .plans-title h4 {
        font-size: 11px;
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .new-item .new-wrps h1 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 8px;
    }
    .tutorial-area h2 {
        font-size: 22px;  
    }
    .t-single-tblk {
        width: 100%; 
    }
    .st-blk img { 
        width: 65px;
        height: 65px; 
    }
    .st-blk { 
        margin-top: 20px;
        width: 33%;
    }
    .add {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 36px;
        right: 50%;
        top: auto;
        bottom: -35px;
    }
    .add::after { 
        width: 88px; 
        font-size: 18px; 
        line-height: 22px; 
    }
    .add:after { 
        right: -95px; 
    }
    .Staff-area .all-students .add:after {
        content: "Add New Teacher";
        right: auto;
        left: -100px;
    }
    .total-blk ul li span {
        width: 70px;
        height: 70px; 
        font-size: 20px; 
        margin: auto;
        margin-top: 7px;
    }
    .total-blk ul li { 
        width: 31%;
        font-size: 14px;
    }
    .footer-widget h4 {
        font-size: 18px; 
        margin-bottom: 10px;
    }
    .all-students img.backgr { 
        height: 100%; 
    }
    .all-students {
        padding: 20px 20px;
        padding-bottom: 90px;
    }
    .Students-area {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .total-count-area .total-blk {
        margin-top: 20px;
    }
    .total-count-area {
        padding: 40px 0;
        padding-top: 20px;
    }
    .t-right {
        padding-left: 0px;
        margin-top: 40px;
    }
    .required-list ul {
        display: flex;
        flex-wrap: wrap;
    }
    .required-list ul li{
        width: 100%;
    }
    .tutorial-area {
        padding: 40px 0;
    }
    .owl-nav { 
        top: -60px; 
    }

    .header-area {
        padding: 20px 0;
    }
    ul#myTab { 
        width: 100%; 
    }
    .Staff-area .all-students .add {
        right: auto;
        left: 50%;
    }
    .required-list li img {
        max-height: 60px;
        margin-right: 10px;
    }
    .required-list li h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    ul.header-social {
        margin-bottom: 0px;
        text-align: center;
        margin-top: 50px;
        margin-left: -15px;
      }

    .event-wrp{
        flex-wrap: wrap;
    }
    .eimg-wrps { 
        max-width: 100%;
    }
    .eicons {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .eicons .evblks {
        width: 50%; 
        margin-top: 20px;
    }
    .eimg-wrps img {
        width: 50px;
        margin-right: 10px;
    }


    .pb-wrps-left {
        width: 100%;
        padding-right: 0px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .pb-wrps-left img {
        width: 150px;
        margin-right: 20px;
        margin: auto;
        margin-bottom: 15px;
    }
    ul.lastlist {
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .filter-selections .nice-select {
        width: 17%; 
    }
    .p-block { 
        flex-wrap: wrap; 
    }
    ul.lastlist li { 
        width: 95px; 
        margin-top: 20px;
    }
    .right-cals a { 
        padding: 13px 8px; 
        margin-left: 5px; 
    }
    .mid-date ul li span { 
        line-height: 28px;
        margin: 0 15px;
        font-size: 20px;
    }
    .mid-date ul {
        justify-content: center;
        margin: 20px 0;
    }
    .filter-selections .nice-select {
        width: 100%;
        font-size: 12px;
        padding-left: 5px;
        margin-bottom: 10px;
    }
    .pb-wrps-right {
        display: flex;
        flex-wrap: wrap;
    }
    .left-cal { 
        margin: auto;
        margin-top: 30px;
    }
    .right-cals { 
        justify-content: center !important;
        margin-bottom: 20px;
    }
    .days ul { 
        justify-content: start;
        flex-wrap: wrap;
    }
    .days ul li {
        width: 33%;
        text-align: center;
    }
    .filter-selections { 
        flex-wrap: wrap;
    }
    .btnss a  {
        padding: 6px 12px;
        font-size: 10px;
    }
    .rudin-tbl table {
        width: 900px;
    }
    .cradits-area h4 img {
        margin-top: -8px;
        margin-left: 6px;
        width: 34px;
    }
    .resurse-slider .owl-prev {
        left: -8px;
        color: #000;
    }
    .resurse-slider .owl-next { 
        right: -8px; 
        color: #000;
    }
    .rs-item p { 
        font-size: 16px;
        line-height: 20px; 
    }
    .lrb-btn { 
        flex-wrap: wrap;
    }
    .lrb-btn .nice-select {
      width: 100%;
      margin: 0 10px;
      background: #0C8B8D;
      color: #fff;
    }

    .assins-list {
        display: block; 
    }
    .right-selects ul { 
        justify-content: left;
        margin-top: 15px;
    }
    .plan-main-item h4.crtl { 
        margin-top: 60px;
    }
    .plans-area .owl-nav { 
        top: 10px; 
    }
    ul.filtering { 
        justify-content: left;
        flex-wrap: wrap;
        margin-bottom: 30px;
    } 
    form.sendForm {
        max-width: 240px;
        float: none;
        margin: auto;
        margin-top: 50px;
    } 
    .flter {
        display: block; 
        margin-top: 20px;
    }
    .bottom-legends {
        margin-top: -10px;  
    }
    .footer-widget {
        margin-top: 30px;
    }
    footer {
        padding-top: 30px; 
    }
    .switch_box label {
        font-size: 16px;
        width: 180px;
    }
    .right-selects {
        margin-top: 30px;
    }
    
    .right-selects ul li.flsttt span {
        font-size: 16px;
    }
    .right-selects ul li { 
        width: 85px; 
    } 
    .assins-blk img {
        width: 80px;
        margin-right: 15px;
    }
    .assins-blk h5 { 
        width: auto;
    }
    .resourceslibrary-area.help {
        padding: 30px 0; 
    }
    .resources-plan-area {
        padding: 30px 0;
    }

    .allclsosdata { 
        width: 1220px;
    } 
    .flter { 
        flex-wrap: wrap;
    }
    .report-details-area .section-title {
        margin-top: 0;
    } 
    .det-blk h4 { 
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .det-blk h4 img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .ass-blk {
        flex-wrap: wrap;
    }

    .assimg {
        padding: 0;
    }

    .asswrp {
        padding: 20px;
    }
    .block-title {
        flex-wrap: wrap;
    }

    .rang-blk { 
        flex-wrap: wrap;
    }
    .slider {
        width: 100%;
        margin-top: 15px;
    }
    .cwrp a.theme-btn {
        text-align: center; 
        width: 100%; 
    }
    .tmns { 
        flex-wrap: wrap;
        justify-content: center;
    }
    .tmns ul#myTab {
        margin: 0;
        margin-bottom: 15px;
    } 
    .tmns a.theme-btn {
        max-width: 100%; 
        margin-left: 0px;
    } 
    .vreq ul { 
        flex-wrap: wrap;
    }
    .vreq ul li {
        margin-top: 5px;
        padding-left: 22px;
    }
    .meteg-sld .owl-nav { 
        top: -50px; 
    }
    .meategs-blk { 
        padding: 20px; 
    }
    .meategs-blk h4 {
        font-size: 24px;
    }
    .mats-blk { 
        margin-bottom: 70px;
    }

    .bmn ul { 
        flex-wrap: wrap;
    }
    .bmn ul li { 
        width: 120px; 
        margin-top: 20px;
    }






}
