/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  color: #000000;
  font-size: 16px; 
}

.body-back{
  background-image: url(../img/body-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none;
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  margin-top: 0px; 
  font-weight: 700; 
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
  font-weight: 500; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }
img{
  max-width: 100%;
}
 .padding{
   padding-right: 0;
 }
 
/* default-css END 
================================== */
 


.header-area {
  padding-top: 15px; 
  width: 100%;
  z-index: 99; 
  background: #FFAC30;
}
.header-area hr {
  margin-top: 25px; 
  border-top: 1px solid #ffffff;
  opacity: 1;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}
ul.header-social li a, .menu-area nav ul li a {
  font-size: 18px;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  font-weight: 600;
}
.loggedin {
  text-align: right;
}

.loggedin p {
  margin: 0;
  font-weight: 500;
}

.loggedin p i {
  margin-left: 10px;
}
ul.header-social li a { 
  margin-left: 0px;  
}
.menu-area nav ul li a.btnohd {
  background: #FF356B;
  display: inline-block;
  padding: 0 50px;
  height: 48px;
  color: #fff;
  line-height: 48px;
  border-radius: 5px; 
  transition: .3s;
}  

.logo-area {
  display: flex;
  align-items: center;
  align-items: flex-end;
}
.logo-area a img {
  display: block;
  width: 100px;
}
.logo-area h1 {margin: 0;font-size: 30px;padding-left: 20px;font-weight: 700;}
 
.down-menu li {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.down-menu li a {
  display: block;
  padding: 15px 0;
  font-weight: 500;
}

.down-menu li a i {
  transition: .3s;
}
.down-menu li > ul {
  position: absolute;
  top: 70px;
  left: 0;
  background: #ffac30;
  width: 180px;
  box-shadow: 0px 10px 10px 1px #c3c3c3;
  transition: .3s;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}

.down-menu li > ul li {
  margin: 0;
  width: 100%;
}

.down-menu li > ul li a {
  padding: 10px;
  transition: .3s;
  width: 100%;
}

.down-menu li > ul li a:hover {
  background: #000000;
  color: #fff;
}

.down-menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 60px;
}
ul.header-social {
  text-align: right;
  margin-bottom: 30px;
}
ul.header-social li {
  display: inline-block;
  text-align: right;
  margin-left: 10px;
}
.middle-logo {
  text-align: center;
}

.middle-logo a.logo {
  display: block;
  width: max-content;
  margin: auto;
}

.middle-logo a.logo img {
  height: 90px;
}


/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding: 20px;
  padding-top: 25px;
}
.mobile-menu p {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

.mobile-menu p a {
  margin-left: 10px;
}
.mobile-menu a.logo {
  display: block;
  width: max-content;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}
.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  justify-content: space-between;
}
.mobile-menu nav ul li a:hover {
  background: #3c3844;
  color: #fff;
}
.mobile-menu a.logo {
  display: block;
  width: max-content;
}

.mobile-menu nav ul li ul {
  border-radius: 3px;
  background: black;
  height: 0;
  overflow: hidden;
  transition: .3s;
}
.mobile-menu nav ul li a:hover {
  background: #3c3844;
  color: #fff;
}

.mobile-menu nav ul li ul a {
  padding-left: 30px;
  color: #fff;
  font-size: 15px;
}

.mobile-menu nav ul li:hover ul {
  height: 100px;
  max-height: 100px;
  overflow: auto;
}
.mobile-menu ul#pills-tab li {
  display: inline-block;
}

.mobile-menu ul#pills-tab li a {
  color: #272835;
  font-size: 15px;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
  height: 45px;
  line-height: 45px;
}
.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: #000000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}





/* Header-area END and Dashboard-area START */





/* == Calender css == */
#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  text-align: left;
  }

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
  }

.external-event { /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #3366CC;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
  }

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
  }

#external-events p input {
  margin: 0;
  vertical-align: middle;
  }

#calendar {  
  width: 100%; 
  }
  .fc-header td.fc-header-center{
    display: none;
  }
  .fc-header-title h2 {  
    font-weight: 500; 
}
tbody {
  background: #2cdadd1f;
  border-radius: 13px;
  overflow: hidden;
}
.fc-border-separate tr.fc-last th {
  border-bottom-width: 0;
  border-color: #0000;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  background: none;
}
thead tr.fc-first {
  background-color: #fff;
}
.fc-week .fc-day > div .fc-day-number { 
  min-width: 35px; 
}


  /* == Calender css End == */

  .dashboard-area ul.list {
    left: auto;
    right: 0;
}
ul.list{
  width: 100%;
}
  .section-title h2 {
    font-size: 32px;
    margin-bottom: 0;
}

.selections {
    display: block;
    width: 100%;
    text-align: right;
}

.selections .nice-select {
    float: right;
    margin-right: 0;
    display: block;
    background: #FF356B;
    font-weight: 700;
}

.selections .nice-select::after {
    border-color: #000;
}

.dashboard-area {
    margin: 60px 0;
}
.desh-left-wrp {
  margin-top: 30px;
}

ul#myTab li.nav-item button {border: none;background: transparent;color: #fff;padding: 10px 40px;border-radius: 10px;}

ul#myTab {
  background: #143D59;
  width: max-content;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
}

ul#myTab li.nav-item button.active {
  background: #ffac30;
}
.dash-wrp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash-wrp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 15px;
}
a.theme-btn {
  padding: 6px 25px;
  background: #3C3844;
  border-radius: 100px;
  color: #fff;
}
.dash-wrp-blk {
  background: #3c3844;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.dblk-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dblk-title h5 {
  color: #fff;
  font-weight: 500;
} 

.dash-wrp-blk p {
  font-size: 13px;
  margin-top: 10px;
}

.dash-wrp-blk li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 4px;
}
.ico-blk {
  padding: 5px 18px;
  background: #2264D1;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
}

.ico-blk i {
  margin-right: 15px;
}
.dashboard-area button.theme-btn {
  display: block;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: #F9B751;
  font-weight: 600;
}




/* Dashboard-area END and Quick-link-area START */





.quick-link-area {
  background: linear-gradient(45deg, #B881D2, #b881d233);
  padding: 40px 0;
}

.all-quick-blk {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-quick-blk .quick-blk {
  width: 16%;
  margin-top: 30px;
  text-align: center;
}

.quick-blk img {
  max-height: 140px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.quick-blk p {
  margin: 0;
  font-weight: 600;
}






/* Quick-link-area END and Plans-area START */




.plans-area {
  padding: 50px 0;
  position: relative;
  background-color: #FDE5BF;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
}
.plan-main-item h4.crtl {
  text-align: center;
  margin-top: 20px;
}
.plans-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plans-title h4 {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

.plan-item {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

.plan-item span,.plan-item b {
  display: block;
  line-height: 32px;
  color: #B65741;
}

.plan-item span.badge {
  padding: 10px;
  background: #de931c;
  width: max-content;
  line-height: 10px;
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}

.plan-item .imgs {
  display: flex;
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.plan-item .imgs img {
  width: 45px;
  margin-left: 15px;
}
.plans-area .owl-nav {
  position: absolute;
  top: -42px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} 
.plans-area .owl-nav div {
  background: #F08C4D;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
} 
.plans-area .owl-nav .owl-prev:after {
  content: "Previous Day";
  left: 55px;
  position: absolute;
  color: black;
  text-transform: capitalize;
  width: 110px;
  font-weight: 500;
}
.plans-area .owl-nav .owl-next:after {
  content: "Next Day";
  right: 55px;
  position: absolute;
  color: black;
  text-transform: capitalize;
  width: 71px;
  font-weight: 500;
}
.sldtm {
  text-align: center;
}

.sldtm span {
  margin-top: 10px;
  display: block;
  line-height: 20px;
}

.rmitm span {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.rimgsld .owl-nav,.rimgsld2 .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}
ul.co-list li {
  display: flex;
  align-items: center;
}

ul.co-list li span {
  margin-right: 10px;
  color: #4CA3D8;
}



/* Plans-area END and New-area START */




.new-area {
  padding: 100px 0;
  position: relative;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
}
.new-item {
  display: flex;
  justify-content: space-between;
}
.new-item .new-wrps {
  width: 40%;
}
.new-item img {
  width: 55% !important;
  object-fit: cover;
}

.new-item .new-wrps h1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.owl-dots .owl-dot {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FCC3C3;
  margin: 0 8px;
  transition: .3s;
}
.owl-dots .owl-dot.active {
  background: #FF6363;
}
.new-area:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 60%;
  background: #FFAB7C;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 0 10px 10px 0;
  box-shadow: 5px 10px 20px 10px #eee;
}
.new-area:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 60%;
  background: #C6FF98;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 10px 0px 0px 10px;
  box-shadow: -1px 8px 25px 7px #eee;
}
.new-item .new-wrps a.theme-btn {
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
  background: #FFAC30;
}





/* New-area END and teachers-area START */




.teachers-area{
  background: #ff356b33;
}




/* teachers-area END and tutorial-area START */




.tutorial-area {
  padding: 70px 0;
}

.tutorial-area h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.tutorial-area h2 b {
  display: block;
  font-weight: 600;
  opacity: .6;
}

.t-left, .t-right {
  position: relative;
}

.t-left a, .t-right a {
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: 500;
}

.t-blks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.t-single-tblk {
  width: 30%;
  background: #000;
  padding: 8px;
  box-sizing: content-box;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.t-single-tblk img {
  width: 100%;
}

.t-single-tblk p {
  color: #fff;
  font-size: 13px;
  margin: 0;
  margin-top: 6px;
}
.required-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.required-list li img {
  max-height: 100px;
  margin-right: 10px;
}

.required-list li h5 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.required-list li h5 span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.t-right {
  padding-left: 50px;
}





/* tutorial-area END and Students-area START */




.Students-area {
  padding: 60px 0;
  padding-bottom: 100px;
  background: linear-gradient(45deg, #65e1dc96, #65e1dc14);
}
.all-students {
  position: relative;
  padding: 20px 30px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  padding-right: 200px;
}

.all-students img.backgr {
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.st-blk {
  width: 16%;
  text-align: center;
  margin-top: 30px;
}

.st-blk img {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 5px;
}
.st-blk  span {
  font-weight: 500;
}
.add {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FC6C0C;
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
}
.add:after {
  content: "Add New Student";
  position: absolute;
  width: 110px;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  right: -140px;
  top: 10px;
}
.Students-area h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Students-area h4 a {
  font-size: 16px;
  font-weight: 500;
}




/* Students-area END and Total-count-area START */




.total-count-area {
  padding: 60px 0;
}

.total-blk {
  padding: 20px;
  background: #FFAC30;
  border-radius: 10px;
  box-shadow: 0px 0px 25px -2px #b0b0b0;
}

.total-blk ul {
  display: flex;
  justify-content: space-between;
}

.total-blk ul li {
  text-align: center;
  width: 28%;
}

.total-blk ul li span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: #2CDADD;
  font-weight: 500;
  margin-top: 10px;
}
.total-blk.red {
  background: #FF356B;
}

.total-blk.red ul li span {
  background: #ffac30;
}
.total-blk.green {
  background: #92F37F;
}

.total-blk.green ul li span {
  background: #ffac30;
}




/* Total-count-area END and Staff-area START */




.Staff-area .all-students {
    width: max-content;
    text-align: right;
    padding-right: 0;
    padding-left: 120px;
}

.Staff-area .all-students .add {
    right: auto;
    left: -40px;
}

.Staff-area .all-students .add:after {
    content: "Add New Teacher";
    right: auto;
    left: -135px;
}





/* Staff-area END and Reminder-area START */




 
 
.Reminder-area {
  padding: 60px 0;
}

.Reminder-blk {
  text-align: center;
  background: #FF565E;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
}

.Reminder-blk h5 {
  color: #fff;
}

.Reminder-blk img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 25px;
}

.Reminder-blk a {
  display: block;
  width: 78%;
  background: #FFAC30;
  margin: auto;
  padding: 8px;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 16px 1px #00000038;
  color: #fff;
  font-weight: 600;
}

.Reminder-blk a span {
  width: 40px;
  height: 40px;
  background: #ffac30;
  display: flex;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) scale(1.2);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0px 0px 16px 0px #7b7b7b4d;
}
.Reminder-blk.middle {
  background: #FFAC30;
} 
.Reminder-blk.middle a,.Reminder-blk.middle a span {
  background: #2DEEF9;
}
.Reminder-blk.middle {
  background: #2CDADD;
}

.Reminder-blk.middle a,.Reminder-blk.middle a span {
  background: #F8545C;
}




/* Reminder-area END and Footer-area START */





footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background: #FFAC30;
}

.footer-widget h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-widget ul li {
  display: block;
  line-height: 30px;
}

.footer-widget ul li a {
  display: block;
}

.footer-widget ul li a b {
  display: block;
  margin-bottom: -6px;
}

ul.social {
  margin-top: 15px;
}

.footer-widget .social li {
  display: inline-block;
}

.footer-widget .social li a {
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
  transition: .3s;
}

.footer-widget .social li a:hover{
  color: #222;
}
p.copyright-text {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}









/* ======================================================
      Home page END and School Calender Page STARTED
====================================================== */








.event-wrp {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(70deg, #88a0b778, #88a0b778, #88a0b752, #88a0b700, transparent);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #ffffff, #3c3844);
  padding: 20px 15px;
}
.eimg-wrps {
  display: flex;
  align-items: end;
  max-width: 440px;
}
.eimg-wrps img {
  width: 150px;
  margin-right: 10px;
}
.eimg-conts p {
  margin: 0;
  margin-top: 10px;
}
.escedual li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.escedual li i {
  font-size: 20px;
  margin-right: 15px;
}

.eicons {
  display: flex;
  justify-content: flex-end;
}

.eicons .evblks {
  width: 120px;
  text-align: center;
}

.eicons .evblks img {
  height: 45px;
  margin-bottom: 10px;
}

.eicons .evblks p {
  margin: 0;
  line-height: 20px;
}
.event-area .section-title {
  margin-bottom: 40px;
}





/* ======================================================
      Calender page END and School Plan Page STARTED
====================================================== */








/* Learning-plan-area  STARTED */





.learning-plan-area {
  padding: 60px 0;
}

.left-cal {
  background: #2CDADD;
  border: 1px solid #5787A4;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  line-height: 16px;
  width: max-content;
}

.left-cal i {
  margin-right: 10px;
}

.mid-date {
  text-align: center;
}

.mid-date ul {
  text-align: center;
  display: flex;
  align-items: center;
}

.mid-date ul li {
  font-size: 28px;
  color: #A3A3A3;
}
.accordion-item button.acc-btn {
  width: 100%;
  display: block;
  border: none;
  background: none;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
div#accordionExample {
  border: none;
}
.accordion-item {
  border: none;
  padding: 0;
}
.accordion-collapse {
  border: 0;
  padding: 0;
  border-radius: 0;
}
.accordion-body {
  padding: 1rem 0;
}
.mid-date ul li span {
  display: block;
  color: #000;
  line-height: 36px;
  margin: 0 40px;
}

.right-cals {
  display: flex;
  align-items: center;
}

.right-cals a {
  transition: .3s;
  padding: 22px 30px;
  background: transparent;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px solid #DADADA;
}

.right-cals a:hover,.right-cals a.active {
  background: #2CDADD;
}
.days {
  background: #2cdadd70;
  border-radius: 10px;
  overflow: hidden !important;
}
.days ul {
  display: flex;
  justify-content: space-between;
}

.days ul li {
  width: 20%;
  text-align: center;
}

.days ul li a {width: 100%;text-align: center;display: block;padding: 10px;position: relative;}
.days ul li a span {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.days ul li a span {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.filters {
  background: #2CDADD;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 25px;
}

.filters h4 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.filter-selections {
  display: flex;
  justify-content: space-between;
}

.filter-selections input {
  border: none;
  padding: 5px 15px;
  background: #fff;
  border-radius: 10px;
  font-weight: 500;
}

.filter-selections  .nice-select {
  width: 19%;
  background: transparent;
  border-color: black;
} 
.p-block {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.pb-wrps-left {
  display: flex;
  align-items: center;
  width: 50%;
  padding-right: 25px;
}
.pb-wrps-left img {
  width: 150px;
  margin-right: 20px;
}

.pb-wrps-content h5 {
  color: #B65741;
  margin-bottom: 15px;
}

.pb-wrps-content p {
  margin: 0;
  color: #6E798C;
}

.pb-wrps-right {
  display: flex;
}
.scheduls {
  display: flex;
  align-items: center;
}

.scheduls ul li {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px 0;
}

.scheduls ul li span {
  font-weight: 600;
}

.scheduls ul li i {
  width: 22px;
}
.btnss {
  margin-left: 20px;
}

.btnss a {
  display: block;
  margin: 10px 0;
  width: max-content;
  border-radius: 5px;
}
ul.lastlist {
  display: flex;
}
ul.lastlist li {
  text-align: center;
  width: 105px;
  padding: 0 5px;
  line-height: 20px;
}
ul.lastlist li img {
  display: block;
  height: 60px;
  margin: auto;
  margin-bottom: 10px;
}
/* modal-content start */
div#activities-modal { 
  padding-right: 0 !important;
}
div#activities-modal .modal-dialog {
  max-width: 100%; 
  margin: 0;
}
div#activities-modal .modal-header { 
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #FFAC30;
}
div#activities-modal .modal-title{
  color: #fff;
}
div#activities-modal .modal-header button {
  padding: 0;
  border: none;
  background: no-repeat;
  color: #fff;
  font-size: 25px;
}
div#activities-modal .modal-header button {
  padding: 0;
  border: none;
  background: no-repeat;
  color: #fff;
  font-size: 25px;
}

.ltitle {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ltitle h4 {
  margin: 0;
}

.ltitle h4 span {
  display: block;
  margin-top: 5px;
  color: #4CA3D8;
}
ul.filst li b {
  width: 140px;
  display: inline-block;
  padding-top: 10px;
}
.lblk .img span img {
  display: block;
  margin-bottom: -15px;
}
.act-left .img .ckbX input:checked + label img{
  transform: scale(1.2);
}
ul.liprg .slider {
  box-shadow: none;
  background: #e8e8e8;
  height: 15px;
  width: 100%;
  border: none;
}

ul.liprg .slider span.ui-slider-pip {
  display: none;
}

ul.liprg .slider:after {
  display: none;
}
ul.liprg .slider span.ui-slider-handle {
  background: #ffac30;
  border-radius: 20px;
  top: 0;
  box-shadow: none;
  height: 100%;
  width: 25px;
  cursor: pointer;
}
ul.liprg .slider span.ui-slider-handle::before,
ul.liprg .slider span.ui-slider-handle::after{
  display: none;
}

.act-left .img span.ckbX label::after{
  display: none;
}


.lblk .img span {
  display: inline-block;
  text-align: center;
  color: #4CA3D8;
}

ul.lilist li {
  display: flex;
  align-items: center;
  width: 225px;
  margin-top: 15px;
  font-weight: 600;
  color: #B65741;
}

ul.lilist li img {
  width: 100px;
}

ul.liquicks li {
  width: 120px;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  margin-top: 15px;
}

ul.liquicks li img {
  height: 66px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

ul.litags li {
  display: inline-block;
}

ul.litags li a {
  background: #FFAC30;
  padding: 7px 15px;
  border-radius: 4px;
  color: #fff;
  margin-right: 8px;
  margin-top: 8px;
  display: inline-block;
}

ul.litags.grn li a {
  background: #3DD598;
}
ul.liprg li {
  display: block;
  margin-top: 15px;
  width: 100%;
}

ul.liprg li .prctn {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 5px;
}

ul.liprg li .prg {
  width: 100%;
  display: block;
  height: 15px;
  border-radius: 100px;
  background: #e8e8e8;
  position: relative;
}

ul.liprg li .prg .prg-control {
  position: absolute;
  top: 0;
  left: 5%;
  width: 25px;
  height: 100%;
  border-radius: 100px;
  background: #FFAC30;
}
.act-right {
  padding-top: 25px;
}

div#examples-modal .modal-header , 
div#video-modal .modal-header {
  padding: 0;
  border: none;
  text-align: right;
  position: relative;
}

div#examples-modal .modal-header button,
div#video-modal .modal-header button {
  border: none;
  width: 30px;
  height: 30px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: auto;
}

div#examples-modal .modal-body ,
div#video-modal .modal-body {
  padding: 0;
  text-align: center;
  margin-top: 15px;
}

div#examples-modal .modal-body img,
div#video-modal .modal-body iframe {
  display: block;
  width: 100%;
}

div#examples-modal .modal-content,
div#video-modal .modal-content {
  padding: 0;
  border: none;
  background: transparent;
}
div#examples-modal:after,
div#video-modal:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
  opacity: .5;
}




/* Learning-plan-area END and Rutin-area STARTED */



.cradits-area {
  background: linear-gradient(-0deg, #FF356B, #ffffff00);
  padding-top: 60px;
}

.cradits-area h4 img {
  margin-top: -40px;
  margin-left: 15px;
}
.rutin-area {
  padding: 60px 0;
  background: #2CDADD;
}

.rutin-header {
  background: #0C8B8D;
  width: 100%;
  display: block;
  padding: 15px;
  border-radius: 10px;
}

.rutin-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rutin-header ul li{
  display: block;
}
.rutin-header ul li:nth-child(2){
  margin: 0 50px;
}
.rutin-header ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.rutin-blk {
  margin-top: 15px;
}

.rudin-tbl {
  background: #fff;
  border-radius: 5px;
  overflow: auto;
}
.rudin-tbl table {
  width: 100%;
}

.rudin-tbl table tr th, .rudin-tbl table tr td {padding: 10px;font-weight: 500;background: #fff;}

.rudin-tbl table tr th span {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.rudin-tbl table tr td img {display: block;}

.rudin-tbl table tr th {
  text-align: center;
  border-right: 1px solid #2CDADD;
}

.rudin-tbl table tr td {
  border: 1px solid #2CDADD;
  color: #B65741; 
}
.rudin-tbl table tr td:first-child{
  text-align: center;
  color: #000;
}
/* Rutin-area STARTED */






/* ======================================================
      Plan page END and  Resources Page STARTED
====================================================== */









.resurse-slider {
  position: relative;
} 
.resurse-slider .owl-prev {
  position: absolute;
  top: 40%;
  left: -50px;
  transform: translateY(-50%);
  font-size: 58px;
  color: #81868C;
}
.resurse-slider .owl-next {
  position: absolute;
  top: 40%;
  right: -50px;
  transform: translateY(-50%);
  font-size: 58px;
  color: #81868C;
}
.rs-item {
  text-align: center;
}

.rs-item p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  margin-top: 15px;
}
.lrb-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.lrb-btn .nice-select {
  width: 400px;
  margin: 0 10px;
  background: #0C8B8D;
  color: #fff;
}

.lrb-btn .nice-select li.option {
  color: #000;
}
.iism {
  margin-bottom: 30px;
}
.resourceslibrary-area {
  margin-bottom: 60px;
}

.action-area {
  padding: 60px 0;
  padding-top: 35px;
  position: relative;
}

.action-area .quick-link-wrp h4 {
  margin-bottom: 45px;
}

.action-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  z-index: -1;
  background: #ffac3075;
}
.resources-plan-area {
  padding: 60px 0;
}







/* ======================================================
      Resources page END and Assessments Page STARTED
====================================================== */






.assessments-plan-area {
  padding: 60px 0;
}
.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;   
}

.switch_box input[type="checkbox"].switch_1{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #ddd;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out; 
  box-shadow: inset -2.4px -2.4px 5.99px #fff;
  }
  
  .switch_box input[type="checkbox"].switch_1:checked{
	background: #ffac30;
  }
  
  .switch_box input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 8px;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  .switch_box input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }
	




  .ckbX {
    position: relative;
    margin-bottom: 10px;
  }
  
  .ckbX input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .ckbX label {
    position: relative;
    cursor: pointer;
  } 
  .ckbX input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    right: 5px;
    width: 10px;
    height: 20px;
    border: solid #37833B;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    z-index: 3;
  }
  label img{
    transition: .3s;
  }
  .right-selects .ckbX input:checked + label img {
    transform: scale(1.1);
    box-shadow: 0px 0px 22px 0px #78788578;
    border-radius: 10px;
    background: transparent;
}
.right-selects .ckbX input:checked + label:after{
  display: none;
}
 
.assessments-plan-area  ul#myTab {
  background: #143D59;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.switch_box label {
  font-size: 22px;
  width: 230px;
}
.right-selects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.right-selects ul li {
  display: inline-block;
  width: 100px;
  text-align: center;
}
.right-selects ul li.flsttt{
  width: 150px;
}
.right-selects ul span {
  font-size: 20px;
  display: block;
}

.right-selects ul a {
  font-size: 13px;
  display: block;
}

.right-selects ul a img {
  display: block;
  text-align: center;
  margin: auto;
  height: 75px;
}
.ublk label {
  display: block;
}

.ublk label img {
  display:  block;
  width: 100%;
  height: 85px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #2cdadd;
  object-fit: cover;
}

.user-slider .owl-nav .owl-prev,.user-slider .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  background: #F08C4D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
}

.user-slider .owl-nav .owl-next {
  left: auto;
  right: 0;
}
.assins-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
}

.assins-blk {
  display: flex;
  align-items: center;
}

.assins-blk h5 {
  margin: 0;
  color: #B65741;
  width: 110px;
}

.assins-blk img {
  width: 125px;
  margin-right: 20px;
}
.mr0{
  margin: 0;
}
.brd{
  border-top: 1px solid #FF575F;
  border-bottom: 1px solid #FF575F;
}
.right-selects ul li svg {
  width: 90px;
  height: 90px;
}  
.right-selects.prgss ul li:first-child {
  width: 100px;
}
.right-selects.prgss ul li:first-child {
  width: 100px;
} 





.circle_percent {
  font-size: 80px;
  width: 80px;
  height: 80px;
  position: relative;
  background: #2cdadd;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
}
.circle_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip:rect(0 1em 1em .5em);
}
.round_per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #FFC542;
  clip:rect(0 1em 1em .5em);
  transform:rotate(180deg);
  transition:1.05s;
  }
  .percent_more .circle_inner {
  clip:rect(0 .5em 1em 0em);
}
.percent_more:after {
  position: absolute;
  left: .5em;
  top:0em;
  right: 0;
  bottom: 0;
  background: #FFC542;
  content:'';
}
.circle_inbox {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #2cdadd;
  z-index:3;
  border-radius: 50%;
}
.percent_text {
  position: absolute;
  font-size: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.user-slider {
  margin-top: 30px; 
  max-width: 600px;
  margin-left: auto;
  margin-right: 20px;
  }
  .gsallclsosdata{
    overflow: auto;
  }


 
.right-selects.prgss ul.blue .circle_percent,.right-selects.prgss ul.blue .circle_inbox {
  background: #190DC5;
  color: #fff;
} 
.right-selects.prgss ul.blue .round_per, .right-selects.prgss ul.blue .percent_more:after{
  background: #D81E1E;
}
 
.right-selects.prgss ul.blueDark .circle_percent,.right-selects.prgss ul.blueDark .circle_inbox {
  background: #084C8C;
  color: #fff;
} 
.right-selects.prgss ul.blueDark .round_per, .right-selects.prgss ul.blueDark .percent_more:after{
  background: #D81E1E;
}

.right-selects.prgss ul.black .circle_percent,.right-selects.prgss ul.black .circle_inbox {
  background: #2C2F33;
  color: #fff;
} 
.right-selects.prgss ul.black .round_per, .right-selects.prgss ul.black .percent_more:after{
  background: #4AB272;
}

.right-selects.prgss ul.pirple .circle_percent,.right-selects.prgss ul.pirple .circle_inbox {
  background: #741FB7;
  color: #fff;
} 
.right-selects.prgss ul.pirple .round_per, .right-selects.prgss ul.pirple .percent_more:after{
  background: #4AB272;
}




/* ==================================================================
          Assessments page END and Reports Page STARTED
=================================================================== */




 

.reports-area {
  padding: 60px 0;
}

.chartTitle {
  background: #2cdadd82;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.chartTitle p {
  margin: 0;
}

.chartTitle h4 {
  margin-bottom: 5px;
}
.cwrp {
  margin-top: 20px;
}

.cwrp h4 {
  margin-bottom: 20px;
}

.cwrp  a.theme-btn {
  text-align: center;
  display: block;
  margin: auto;
  width: max-content;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 40px;
  color: black;
  background: #FF356B;
}
 










.dev-rep {
  padding: 30px;
  border-radius: 5px;
  background: #2cdadd78;
  margin: 20px 0;
}
.rang-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  margin-bottom: 10px;
  padding-right: 20px;
  border-radius: 10px;
}
.rang-blk .rnifo {
  display: flex;
  align-items: center;
}

.rang-blk .rnifo h5 {
  margin: 0;
  margin-left: 10px;
  width: 150px;
  color: #B65741;
}

.rang-blk .Range.noUi-target {
  transform: rotate(90deg);
  top: -25px;
  right: -110px;
  z-index: 2;
}
.dev-rep .nice-select {
  background: #FFAC30;
} 
.slider {
  width: 45%;
  background: white;
  border-radius: 20px;
  box-shadow: inset -3px 2px 4px 1px #c7c7c7;
  position: relative;
  margin-bottom: 0 !important;
}

.slider:after {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  background: linear-gradient(45deg, #FF0C3D, #FFC542,#3DD598,#3DD598);
  top: 50%;
  left: 50%;
  border-radius: 100px;
  transform: translate(-50%,-50%);
}

.slider span.ui-slider-handle {
  background: #EEEEEE;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 30px;
  box-shadow: 4px 4px 10px #cdcdcd;
}

.slider span.ui-slider-handle:before,.slider span.ui-slider-handle:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 65%;
  left: 40%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 100px;
  box-shadow: inset 0px 0px 11px -7px #524646;
}
.slider span.ui-slider-handle:after{
  left: 60%;
}
.ui-slider-pips .ui-slider-line {
  background: #0000002b;
  width: 3px;
  height: 6px;
  position: absolute;
  left: 50%;
  border-radius: 100px;
  box-shadow: inset -1.4px 1.4px 1.4px #ffffff87;
}
.ui-slider-pips [class*=ui-slider-pip-selected] .ui-slider-line, .ui-slider-pips .ui-slider-pip-inrange .ui-slider-line {
  background: #3dd598;
}
.recom-wrp {
  margin-top: 40px;
  margin-bottom: 60px;
}

.recom-wrp a.theme-btn {
  max-width: 390px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 50px;
  border-radius: 5px;
  background: #FF356B;
  color: #000;
  margin-top: 40px;
}









/* ======================================================
      Report page END and Reposrt-Grouth Page STARTED
====================================================== */







.report-grouth-area {
  padding: 60px 0;
}

ul.filtering {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.filtering li {
  margin-top: 10px;
  margin-right: 10px;
}
ul.filtering li span.ftl {
  display: block;
  font-weight: 500;
  margin-right: 30px;
}

ul.filtering li .nice-select {
  display: inline-block;
  padding-right: 45px;
  border: 1px solid black;
  background: #2CDADD;
}

ul.filtering li .nice-select:after {
  border-color: #000;
}
.jdate {
  text-align: center;
  border: 1px solid #00000040;
  padding: 20px;
  border-radius: 10px;
}

.jdate form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.jdate form label {
  width: 48%;
  font-weight: 500;
}

.jdate form label input {
  width: 100%;
  border: 1px solid #c5c5c5;
  padding: 7px;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
}

.jdate p {
  margin-bottom: 0;
  margin-top: 20px;
  color: #0000003b;
}

.grouthchart .section-title {
  margin-bottom: 30px;
  margin-top: 40px;
}
.bottom-legends {
  margin-top: -38px;
  position: relative;
  z-index: 2;
  font-weight: 400;
}
.auto-wrp {
  margin-top: 50px;
} 
.auto-wrp h4 {margin-bottom: 20px;}
.autoconts {
  margin-top: 60px;
}

.autoconts ul li {
  display: inline-block;
}

.autoconts ul li a {
  background: #FF356B;
  border-radius: 10px;
  margin-right: 10px;
  max-width: 285px;
  margin-top: 10px;
  display: block;
  box-sizing: border-box;
  padding: 11px;
  padding-right: 60px;
  text-align: center;
  position: relative;
  font-size: 15px;
  height: 66px;
  overflow: hidden;
}

.autoconts ul li a i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 34px;
  opacity: .5;
}
.autoconts h4 {
  margin-top: 30px;
  margin-bottom: 15px;
}
form.sendForm {
  max-width: 290px;
  float: right;
  margin-top: 50px;
}
form.sendForm ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form.sendForm ul li {
  width: 110px;
  text-align: left;
  margin-bottom: 25px;
}

form.sendForm ul li .ckbX {
  margin: 0;
}

form.sendForm ul li .ckbX label:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 25px;
  border: 1px solid #5c5c5c;
  background: #EEEEEE;
  top: 30px;
  right: 0;
}
form.sendForm ul li .ckbX label {
  width: 100%;
}

form.sendForm ul li .ckbX label:after {
  bottom: auto;
  right: 9px;
  top: 30px;
} 
form.sendForm  button {
  width: 100%;
  border: none;
  padding: 13px;
  outline: none;
  position: relative;
  font-weight: 500;
  background: #3ED598;
  border-radius: 5px;
}

form.sendForm button i {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  opacity: .5;
}
.flter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flter span.ftl {
  font-weight: 500;
}








/* ====================================================================
      Reposrt-Grouth page END and  Report-OverALl Page STARTED
==================================================================== */




circle {
  stroke-width: 40px;
  fill: transparent;
}
circle:nth-child(1) {
  stroke: #D6CF6E;
}
circle:nth-child(2) {
  stroke: #14A38B;
  stroke-dasharray: 187.831853 262.327412;
  stroke-dashoffset: 134.539816;
}
circle:nth-child(3) {
  stroke: #0880AE;
  stroke-dasharray: 166.079633 360.079633;
  stroke-dashoffset: 12.707963;
}
.report-details-area {
  padding: 60px 0;
}

.report-details-area .section-title {
  margin-top: 54px;
}

.det-blk {
  margin-top: 50px;
}
.det-blk h4 {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: #B65741;
  background: #fff;
  padding: 10px 0;
}
.det-blk .pie {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.det-blk h5 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}
.tless::after{
  display: none;
}




/* ======================================================================
      Report-Details page END and Report-Evaluation Page STARTED
====================================================================== */





.ass-blk {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
}

.assimg {
  padding: 30px;
  background: #BCD1FF;
}
.asswrp {
  position: relative;
  padding: 20px;
  width: 100%;
  padding-left: 40px;
}
.hting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6E798C;
  margin-bottom: 25px;
}

.asswrp h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.asswrp p {
  max-width: 500px;
}

.asswrp a {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: max-content;
  color: #007AE9;
  font-weight: 500;
}
.the-blk {
  position: relative;
  background: #fff;
  border-top: 10px;
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
}
.the-blk img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.the-wrp {
  padding: 20px;
}

.thetitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.thetitle h5 {
  margin: 0;
}

.thetitle ul {
  display: flex;
  align-items: center;
}

.thetitle ul li {
  display: block;
}

.thetitle ul li a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  background: #007AE9;
  color: #fff;
  font-size: 12px;
}

.the-wrp span {
  display: block;
  margin-bottom: 25px;
  color: #A5ADBB;
}

.the-wrp a.theme-btn {
  border-radius: 5px;
  margin: auto;
  display: block;
  width: max-content;
  background: #FFAC30;
  letter-spacing: 3px;
}
.the-blk a.qico {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #fff;
}
.block-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.therates {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.therates ul li {
  display: inline-block;
  color: #FFC22B;
  margin-right: 3px;
}

.therates  span {
  font-size: 12px;
  margin-bottom: 0 !IMPORTANT;
  padding: 4px 10px;
  background: #007ae9;
  border-radius: 5px;
  margin-left: 20px;
  color: #fff;
  letter-spacing: 1px;
}
.all-blocks-big a.theme-btn {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin-top: 35px;
}
.report-evaluation-area {
  padding: 60px 0;
}
.tbl-titles h4 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tbl-titles h4 small {
  font-weight: 400;
  font-size: 13px;
}
.dtl-area {
  padding-bottom: 60px;
}




 



/* =================================================================
      Report-Evaluation page END  Required-mateiral Page STARTED
================================================================= */


 




.vreq {
  padding: 20px;
  background: #f9b75178;
  border-radius: 10px;
}

.vreq ul {
  display: flex;
  justify-content: space-between;
}

.vreq h5 {
  margin-left: 20px;
}

.vreq ul li {
  margin-top: 10px;
  padding-left: 25px;
}
.vreq ul li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #262626;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.vreq ul li label:after {
  left: -18px;
  top: 5px;
  border-width: 0 2px 2px 0 !important;
  width: 5px !IMPORTANT;
  height: 12px !important;
}
.mats-blk {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.mats-blk h5 {
  font-size: 28px;
}

.meategs-blk {
  background: #f9b75178;
  padding: 40px;
  border-radius: 10px;
}

ul.prd {
  display: block;
  margin-top: 30px;
}

ul.prd li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

ul.prd li img {
  width: 80px !important;
  margin-right: 10px;
}

.prwr p {
  margin: 0;
}

.bmn {
  margin-top: 20px;
}

.bmn ul li {
  display: block;
  text-align: center;
  width: 130px;
  text-align: center;
}

.bmn ul li img {
  width: 50px !important;
  margin: auto;
}

.bmn ul {
  display: flex;
  justify-content: space-between;
}



.meteg-sld .owl-nav {
  position: absolute;
  top: -65px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.meteg-sld .owl-nav div {
  background: #F08C4D;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.meategs-blk h4 {
  font-size: 30px;
}

.meategs-blk h4 span {
  display: block;
  opacity: .3;
}
.tmns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.tmns ul#myTab {
  margin: 0;
}

.tmns a.theme-btn {
  max-width: 260px;
  text-align: center;
  border-radius: 5px;
  background: #ff356b;
  color: #000;
  margin-left: 100px;
}









/* ======================================================
      Required-mateiral page END Queries Page STARTED
====================================================== */





.endbtns a.theme-btn {
  padding: 10px 40px;
  border-radius: 5px;
  background: red;
}
.allclsosdata {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
} 
.datas {
  margin-top: 20px;
} 
.datas button {
  background: #FFAC30;
  border: 1px solid #000;
  outline: none;
  padding: 15px 10px;
  width: 100%;
} 
.datas ul li {
  display: block;
  padding: 15px;
  text-align: center;
  border: 1px solid #000;
  margin-top: 15px;
}
.datas:first-child{
  width: 200px;
}
.datas:nth-child(2){
  width: 185px;
}
.datas:nth-child(3){
  width: 330px;
}
.datas:nth-child(4){
  width: 330px;
}
.datas:last-child{
  width: 130px;
}












/* ======================================================
      Queries page END and Help Page STARTED
====================================================== */




 

.resourceslibrary-area.help {
  padding: 60px 0;
  background: #2cdadd54;
  margin: 0;
}
.rspwr {
  padding-top: 30px;
  padding-bottom: 30px;
}











/* ======================================================
      Help page END and 
====================================================== */ 